<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>试题管理</title>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <style type="text/css">
        html,body{
            width: 100%;
            height: 100%;
            margin: 0;
        }
    </style>

</head>
<body>

<div class="layui-fluid">



    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" id="title" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <select name="categoryid" id="categoryid" >
                            <option value="0">请选择类型</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <select name="difficultid" id="difficultid" >
                            <option value="0">请选择难度</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <select name="courseid" id="courseid" >
                            <option value="0">请选择课程</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <a  style="margin-left: 70px"  class="layui-btn layui-btn-normal" onclick="add();">添加试题</a>
            </div>
            <table class="layui-hide" id="test" lay-filter="test"></table>

            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">修改</a>
            </script>
        </div>
    </div>
</div>







<script  th:inline="none">
    function add(){//添加题目
        window.location.href="/toaddQuestionPage";
        // layer.open({
        //     type: 2,
        //     title: '添加题目',
        //     skin: 'layui-layer-demo', //加上边框
        //     area: ['800px', '520px'], //宽高
        //     content: '/toaddQuestionPage'
        // });
    }
    layui.use(['form', 'table'],function () {
        var table = layui.table;
        var form = layui.form;
        var $ = layui.$;

        var data2;
        var data3;
        // 获取难度的下拉框
        $.ajax({
            url:  "/difficults",
            dataType: 'json',
            type: 'get',
            success: function (data) {
                $.each(data.data, function (index, item) {
                    $("select[name=difficultid]").append('<option value="'+item.id+'">'+item.name+'</option>');
                });
                layui.form.render("select");
            }
        });
        //获取题目种类的下拉框
        $.ajax({
            url:  "/categorys",
            dataType: 'json',
            type: 'get',
            success: function (data) {
                $.each(data.data, function (index, item) {
                    $("select[name=categoryid]").append('<option value="'+item.id+'">'+item.name+'</option>');
                });
                layui.form.render("select");
            }
        });
        //获取课程的下拉框
        $.ajax({
            url:  "/courses",
            dataType: 'json',
            type: 'get',
            success: function (data) {
                $.each(data.data, function (index, item) {
                    $("select[name=courseid]").append('<option value="'+item.id+'">'+item.name+'</option>');
                });
                layui.form.render("select");
            }
        });
        table.render({
            elem: '#test'
            , url: '/questions'
            , title: '试题表'
            , cols: [[
                {field: 'id', title: '序号', width: 80}
                , {field: 'title', title: '题干', width: 150}
                , {field: 'optA', title: 'A选项', width: 150}
                , {field: 'optB', title: 'B选项', width: 150}
                , {field: 'optC', title: 'C选项', width: 150}
                , {field: 'optD', title: 'D选项', width: 150}
                , {field: 'difficult', title: '难度', width: 100,templet: function(d){
                        return d.difficult.name;
                    }}
                , {field: 'category', title: '题目类型', width: 100,templet: function(d){
                        return d.category.name;
                    }}
                , {field: 'course', title: '所属课程', width: 150,templet: function(d){
                        return d.course.name;
                    }}
                , {field: 'answer', title: '答案', width: 80}
                , {fixed: 'right', title: '操作', width: 150 ,toolbar: '#barDemo'}
            ]]
            ,id: 'testReload'
            ,page: true
        });

        //监听搜索
        form.on('submit(search)', function(data){
            var field = data.field;
            var title = $('#title');
            var courseid = $('#courseid');
            var difficultid = $('#difficultid');
            var categoryid = $('#categoryid');
            //执行重载
            table.reload('testReload', {
                method: 'get'
                ,page: {
                    curr: 1 //重新从第 1 页开始
                },
                where: {
                    title: title.val(),
                    courseid: courseid.val(),
                    difficultid: difficultid.val(),
                    categoryid: categoryid.val()
                }
            });
        });




        //监听删除
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('您确定要删除该用户信息吗？', function (index) {
                    $.ajax({
                        url:'/questions/'+data.id,
                        type:"DELETE",
                        dataType:"json",
                        success:function(result){
                            if (result.code > 0) {
                                layer.msg("删除成功!")
                                window.location.reload();//刷新页面
                            }else{
                                layer.msg("系统异常!重新删除!")
                            }
                        }
                    });
                });
            }else if (obj.event === 'edit') {
                window.location.href="/questions/"+data.id;

            }
        });
    });
</script>

</body>
</html>